*{
    box-sizing: border-box;
    margin: 0;
}

/* 
.dropdown-content {
  display: none;
  /* position: absolute;
  margin: 15px;
  padding: 10px;
  min-width: 230px;
  z-index: 1;
}

.dropdown-content bttn {
  padding: 12px 16px;
  display: block;
}

.show {
  display:block;
} */

header{
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    height: 60px;
    align-items: center; 
    text-decoration: none;
}

h1,
h2{
    font-family: var(--font-heading);
    font-size: var(--font-size-large);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 364px;
}

a .logo{
    padding-bottom: 12px;
    padding-top: 12px;
}
.logo{
    height: calc(.25rem*8);
    width: 99px;
}
.hidden-nav{
    display: none;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-left: -30px;
   margin-top: 10px;
   margin-bottom: 10px;
    }
}

ol{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: var(--font-body);
}

ol a{
    font-size: var(--font-size-small);
}
.img-gallery{
    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding-left: 16px;
    } 
}

.gallery-hidden{
    display: none;
    @media screen and (min-width: 768px) {
    display: contents; 
    }
}

.foto1 {
    @media screen and (min-width: 768px) {
        grid-area: 1 / 1 / 3 / 3;
        height: auto;
        object-fit: cover;
    }
}

.hidden-video{
    @media screen and (min-width: 768px) {
         grid-area: 1 / 3 / 2 / 4; 
         object-fit: cover;
    }

}

.foto2{
    @media screen and (min-width: 768px) {
         grid-area: 1 / 4 / 2 / 5; 
         object-fit: cover;
    }
}

.foto3{
    @media screen and (min-width: 768px) {
         grid-area: 2 / 4 / 3 / 5; 
         object-fit: cover;
    }
}

.foto4{
    @media screen and (min-width: 768px) {
        grid-area: 2 / 3 / 3 / 4;
        object-fit: cover;
    }
}

.icon-bckgrnd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 38px;
    width: 38px;
    background-color: rgba(0, 0, 0, 0.511);
    border-radius: 80%;
    transform: translateY(90%);
}


a {
    font-size: .75rem;
    text-decoration: none;
    color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;

}

button{
    background-color: #0000;
    border: 0 solid;
    color: var(--color-tertiary);
    cursor: pointer;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.icon{
    height: 24px;
    width: 24px;
}
.icon-text{
    color: #0071b3;
  text-align: center;
  margin-top: 60px;
  padding-top: 15px;
  font-size: var(--font-size-extra-small);
}
.border{
    height: 1px;
    background-color: #e6e6e6;
    margin-left: calc(.25rem*-4);
    margin-right: calc(.25rem*-4);
}
.extra-content{
    padding-inline: 16px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px){
        display: none
    }
}


.gegevens{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    padding-top: 16px;
    padding-inline: 16px;
}

.gegevens p{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.gegevens a{
    font-size: var(--font-size-small);
   text-align: left;
}

.gegevens ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.gegevens li{
    display: flex;
    flex-direction: row;

}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  padding: calc(.25rem*2);
  gap:calc(.25rem*3);
    list-style: none;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li a,
.gegevens a{
   color: #0071b3;
   text-decoration: none;
}

.kaart{
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.content{
    height: 75px;
    width: 105px;
    border-radius: .25rem;
    position: absolute;
    background-color: #e6e6e6;
}

.plattegrond{
    grid-area: 1 / 1 / 2 / 2;
    height: 75px;
}

.foto{
    grid-area: 1 / 2 / 2 / 3;
    height: 75px;
}
 
.video{
    grid-area: 1 / 3 / 2 / 4;
    height: 75px;

    
}

p {
    font-family: var(--font-body);
}


.postcode{
    color: #999;
}

.pricing{
    font-family: var(--font-heading);
    font-size: var(--font-size-medium);
    font-weight: 700;
}

.maandlasten{
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 501px) {
        display: flex;
        flex-direction: row;
    align-items: center;
    }
}

.omschrijving {
    padding-inline: 16px;
}